<header class="header header-6">
    <div class="branding">
        <a (click)="onBrandClick()" class="nav-link">
          <img src="assets/images/labpipe-logo-white.png" height="50" alt="">
        </a>
    </div>
    <div class="header-actions">
      <a class="nav-link nav-icon-text" (click)=toSettings()>
        <clr-icon shape="cog" class="is-solid"></clr-icon>
        <span class="nav-text">Settings</span>
      </a>
        <a class="nav-link nav-icon-text" (click)=reload()>
          <clr-icon shape="refresh"></clr-icon>
          <span class="nav-text">Reload</span>
        </a>
        <a *ngIf="currentUser" class="nav-link nav-icon-text" (click)=logout()>
            <clr-icon shape="logout"></clr-icon>
            <span class="nav-text">Logout</span>
        </a>
        <a *ngIf="currentUser" class="nav-link nav-icon-text" (click)="toProfile()">
          <clr-icon shape="user" class="is-solid"></clr-icon>
          <span class="nav-text">{{currentUser.name}}</span>
        </a>
    </div>
</header>
<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" *ngIf="currentUser" (click)=toTasks()>Studies</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="currentUser" (click)=toBrowse()>Browse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="currentUser" (click)=toManage()>Manage</a>
      </li>
    </ul>
</nav>
