<clr-stack-view class="float">
  <clr-stack-block>
    <clr-stack-label>
      <clr-icon shape="clock"></clr-icon>
    </clr-stack-label>
    <clr-stack-content>{{time | date:'yyyy-mm-dd hh:mm:ss'}}</clr-stack-content>
  </clr-stack-block>
  <clr-stack-block *ngIf="location">
    <clr-stack-label>
      <clr-icon shape="building"></clr-icon>
    </clr-stack-label>
    <clr-stack-content>{{location.identifier}}</clr-stack-content>
  </clr-stack-block>
  <clr-stack-block *ngIf="instrument">
    <clr-stack-label>
      <clr-icon shape="display"></clr-icon>
    </clr-stack-label>
    <clr-stack-content>{{instrument.identifier}}</clr-stack-content>
  </clr-stack-block>
  <clr-stack-block *ngIf="study">
    <clr-stack-label>
      <clr-icon shape="book"></clr-icon>
    </clr-stack-label>
    <clr-stack-content>{{study.identifier}}</clr-stack-content>
  </clr-stack-block>
</clr-stack-view>
