<app-in-app-alert [messages]="messages"></app-in-app-alert>
<clr-tabs>
  <clr-tab>
    <button clrTabLink>Access Control</button>
    <clr-tab-content *clrIfActive>
      <div class="card">
        <div class="card-header">
          Add
        </div>
        <div class="card-block">
          <div class="card-text">
            <button class="btn btn-primary-outline" (click)="newOperator()">Operator</button>
            <button class="btn btn-primary-outline" (click)="newToken()">Access Token</button>
            <button class="btn btn-primary-outline" (click)="newRole()">Role</button>
          </div>
        </div>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Parameter</button>
    <clr-tab-content *clrIfActive>

      <div class="card">
        <div class="card-header">
          Add
        </div>
        <div class="card-block">
          <div class="card-text">
            <button class="btn btn-primary-outline" (click)="newStudy()">Study</button>
            <button class="btn btn-primary-outline" (click)="newLocation()">Location</button>
            <button class="btn btn-primary-outline" (click)="newInstrument()">Instrument</button>
            <button class="btn btn-primary-outline" (click)="newCollector()">Collector</button>
          </div>
        </div>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Notification</button>
    <clr-tab-content *clrIfActive>
      <div class="card">
        <div class="card-header">
          Add
        </div>
        <div class="card-block">
          <div class="card-text">
            <button class="btn btn-primary-outline" (click)="newEmailGroup()">Email Group</button>
          </div>
        </div>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Form & Report</button>
    <clr-tab-content *clrIfActive>
      <div class="card">
        <div class="card-header">
          Add
        </div>
        <div class="card-block">
          <div class="card-text">
            <button class="btn btn-primary-outline" (click)="newFormTemplate()">Form Template</button>
            <button class="btn btn-primary-outline" (click)="newReportTemplate()">Report Template</button>
          </div>
        </div>
      </div>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>

<clr-modal [(clrModalOpen)]="showModal.newOperator">
  <h3 class="modal-title">Add new operator</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-vertical" [formGroup]="operatorForm">
      <clr-input-container>
        <label>Full name</label>
        <input clrInput type="text" formControlName="name" required />
      </clr-input-container>
      <clr-input-container>
        <label>Email</label>
        <input clrInput type="email" formControlName="email" required />
      </clr-input-container>
      <app-multiple-select title="Study" [options]="studies" [displayField]="'name'" (valueChanged)="operatorForm.get('projects').setValue($event)"></app-multiple-select>
      <app-multiple-select title="Role" [options]="roles" [displayField]="'name'" (valueChanged)="operatorForm.get('roles').setValue($event)"></app-multiple-select>
      <app-multiple-select title="Email Group" [options]="notificationGroups" [displayField]="'name'" (valueChanged)="operatorForm.get('notificationGroup').setValue($event)"></app-multiple-select>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="onConfirmNewOperator(false)">Cancel</button>
    <button class="btn btn-danger" type="button" [disabled]="!operatorForm.valid" (click)="onConfirmNewOperator(true)">Continue</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showModal.newToken">
  <h3 class="modal-title">Add new token</h3>
  <div class="modal-body">
    Please confirm you are going to create a new access token.
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="onConfirmNewToken(false)">Cancel</button>
    <button class="btn btn-danger" type="button" (click)="onConfirmNewToken(true)">Continue</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showModal.newRole">
  <h3 class="modal-title">Add new role</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-vertical" [formGroup]="roleForm">
      <clr-input-container>
        <label>Identifier</label>
        <input clrInput type="text" formControlName="identifier" required />
      </clr-input-container>
      <clr-input-container>
        <label>Description</label>
        <input clrInput type="email" formControlName="name" required />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="onConfirmNewOperator(false)">Cancel</button>
    <button class="btn btn-danger" type="button" [disabled]="!operatorForm.valid" (click)="onConfirmNewOperator(true)">Continue</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showModal.newStudy">
  <h3 class="modal-title">Add new token</h3>
  <div class="modal-body">
    Please confirm you are going to create a new access token.
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="onConfirmNewToken(false)">Cancel</button>
    <button class="btn btn-danger" type="button" (click)="onConfirmNewToken(true)">Continue</button>
  </div>
</clr-modal>
